.p-tag {
  position: relative;
  padding: 0.25em 0;
  font-size: 40px;
}

.p-tag:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}
.container {
  display: flex;
}
.itemList {
  display: flex;
  justify-content: center;
  align-items: center;
}
