<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <span class="p-tag">Portfolio</span>
        <div class="item">
          <div class="item1">
            <div class="item1Img"></div>
            <div class="itemName">
              <a
                href="https://todo-demo-app-angular-19d8e.firebaseapp.com"
                target="_blank"
                rel="noopener noreferrer"
                >帰国を助けたTodoManager</a
              >
            </div>
            <div class="itemGit">
              <a
                href="https://github.com/uchida-masanori/demo-app"
                target="_blank"
                rel="noopener noreferrer"
                >Git
              </a>
            </div>
            <div class="itemExp">
              AngularとFirebaseで作成したタスク管理アプリです。タスクを作成して、todo
              / doing /
              doneの３種類のステータスに分けて管理することができます。タスクはドラッグ＆ドロップでステータスを変更できます。Googleアカウントを利用したログイン機能もつけてみました。<br />今回、実際に日本帰国に必要な作業の管理に使いました。非常にシンプルな仕組みですが、帰国準備程度であれば十分な機能かと思います。<br />改善点としては、タスクの重要度を色で振り分ける機能とタスクの期限設定/通知機能があるとさらに実用的になるかと感じました。せっかくですから、改良して今後も旅の友として使っていきたいです。
            </div>
          </div>
          <div class="item2">
            <div class="item2Img"></div>
            <div class="itemName">懐かしのポケモン図鑑</div>
            <div class="itemGit">
              <a
                href="https://github.com/uchida-masanori/pokedex"
                target="_blank"
                rel="noopener noreferrer"
                >Git
              </a>
            </div>
            <div class="itemExp">
              ポケモンをクリックすると対象のポケモンのタイプと個体値が表示されるポケモン図鑑を作成しました。AngularMaterialを利用したSPAの作成とJson
              APIを使った基礎学習を狙いました。今回はレスポンシブにも対応しております。<br />Jsonファイルからポケモンの個体値を引いてくる作業の中で、型のエラーが思ったよりも多く発生しました。キャストやパイプについて調査時間を取られましたが、ググり方と使い方を学べた良い作品となったと思います。<br />ポケモン一覧のデザインや個体値をチャートにまとめる作業も簡単にできて、AngularMaterialの便利さを改めて感じました。<br />Firebase無料版で使用できる容量を超えてしまったので、ポケモン図鑑はデプロイせずGitのみの公開です。
            </div>
            <div class="itemGit"></div>
          </div>
          <div class="item3">
            <div class="item3Img"></div>
            <div class="itemName">お財布の紐が緩むフリマアプリ</div>
            <div class="itemExp">
              ログイン・商品検索・商品管理・コメント・いいね・決済・商品公開といったフリマアプリの基本的な機能を実装予定。
            </div>
            <div class="itemGit"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
