<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <span class="p-tag">Portfolio</span>
        <div class="itemList">
          <div class="item1">
            <div class="itemImg">画像</div>
            <div class="itemName">
              <a href="">TodoManager (デプロイ先URLに遷移可能)</a>
            </div>
            <div class="itemExp">
              AngularとFirebaseで作成したタスク管理アプリです。タスクを作成して、未実行
              / 実行
              /完了の３種類に分けて管理することができます。Googleアカウントを利用したログイン機能もつけてみました。私は実際に日本帰国のために必要な作業の管理に使ってみました。非常にシンプルな仕組みですが、帰国準備程度であれば十分な機能かと思いました。
            </div>
            <div class="itemGit"><a href="">Git (Gitページに遷移可能）</a></div>
          </div>
          <div class="item2">
            <div class="itemImg">画像</div>
            <div class="itemName"><a href="">ポケモン図鑑</a></div>
            <div class="itemExp">現在作成中。</div>
            <div class="itemGit"><a href="">Git (Gitページに遷移可能）</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
