/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Wrapper class*/
.p-wrapper {
  position: relative;
}

.p-wrapper::before {
  content: "";
  background: #f9b205;
  height: 100vh;
  width: 25vw;
  position: absolute;
  z-index: -1;
}
