.p-profile {
  background-image: url('../../assets/img/photo_for_home.jpg');
  width: 120%;
  height: 540px;
  background-size: cover;
  box-shadow: 20px 20px 0 black;
  position: relative;
  right: 150px;
  top: 20px;
}

.p-tag {
  position: relative;
  padding: 0.25em 0;
  font-size: 40px;
}
.p-tag:after {
  content: '';
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}
