<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">About me</span>
        <p><br>初めまして。内田将敬（うちだまさのり）と申します。<br><br>明海大学ホスピタリティー・ツーリズム学部を卒業。現在ベトナムのホーチミンでプラスチック樹脂原料を扱う専門商社に勤務しております。<br>ベトナムに渡り1年半、いつしかWebアプリケーションエンジニアとなることが夢となりました。今夏、日本に帰国を予定しております。参考書をもとに独学でTypeScriptとAngularを学習中。制作したものは随時ポートフォリオに掲載していきたいと思います。新しい取り組みに関わる仕組みづくりや、人材不足やどうしても属人的になりがちな業界の負担を解消していけるWebアプリケーション制作に関わっていきたいと考えています。<br><br>資格はITパスポート、TOEIC635点を保持。<br><br>２４歳独身。茨城県大子町出身。趣味はサッカーとアニメ鑑賞。ベトナムでは駐在員主体のサッカークラブに所属。J-Asia（アジア在住日本人サッカーチームの大会）やSIFL(Sai Gon International Football League)での上位入賞を経験。<br><br>強い知識欲があり負けず嫌いな性格です。ベトナムでの経験を通じて、報連相を含めコミュニケーション力やチームとして、個人としての成果を出すための思考力を身につけられたと思います。目標を決めたら短いスパンで振り返り、達成率を確認して目標までの行動の補正ができることが私の強みです。
        </p>
      </div>
    </div>
  </div>
</section>
